body{
  background-color: #FFEEDD;
  text-align:center;
  align-items:center;
}
br{
	margin: 100px;
}
.gameHeader{
	font-size: 36px;
}
.gameSubtext{
	font-size: 24px;
}
.infoDiv{
	border-radius: 25px;
	left: 50%;
    border: 8px solid #009955;
    width: 1000px;
  	margin: 30px 0px 0px -500px;
    position: absolute;
    align-self: center;
    min-height: 20px;
}
.dropContent{
	display: none;
}
.dropButton{
	background-color: #884400;
	color: #FFFFFF;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.fillerDiv{
  min-height: 1000px;
}
